.favourite {
    text-align: center;
    font-family: 'Kalam';
    color: rgb(33, 102, 199);
    font-size: 20px;
    margin: 0;
}
.favList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
}
