@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

.light-mode {
  --main-page-bg-image: url('./images/backgroundGlass.jpg');

  --layout-text-color: #0f4b70;
  --input-bg-color: #ebebeb;
  --forms-bg-color: rgb(151, 173, 199, 0.6);
  --border-color: rgb(45, 110, 231);
  --rating-text-color: rgb(251, 243, 3);
  --card-info-text-color: rgb(251 249 240);
}

.dark-mode {
  --main-page-bg-image: url('./images/backgroundDark.jpg');

  --layout-text-color: #ffffff;
  --input-bg-color: #2c38459a;
  --forms-bg-color: rgb(44, 56, 69, 0.6);
  --border-color: rgb(45, 110, 231);
  --rating-text-color: rgb(251, 243, 3);
  --card-info-text-color: rgb(251 249 240);
}
