.buttonDiv {
    margin-top: 1vh;
    display: flex;
    justify-content: space-around;
}
.btnAdd {
    border-radius: 10px;
    width: 60%;
    height: 5vh;
    background-color: var(--add-button-color);
    color: var(--main-card-text-color);
    font-size: 15px;
}

.btnDel {
    border-radius: 10px;
    width: 60%;
    height: 5vh;
    background-color: var(--remove-button-color);
    color: var(--main-card-text-color);
    font-size: 15px;
}

.btnAdd:hover {
    cursor: pointer;
    opacity: 0.9;
}

.btnDel:hover {
    cursor: pointer;
    opacity: 0.9;
}
